header {
    /* height: 79px; inutile */
    margin-bottom: 35px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav_logo {
    margin: 30px 0px;
}

.nav_menu {
    display: flex;
    align-content: flex-start;
    padding-top: 16px;
}

#menu {
    list-style: none;
    display: flex;
    gap: 68px;
}

#menu a {
    padding-top: 14px;
}

#menu a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

@media (max-width: 767.98px) {
    header {
        margin-bottom: 30px;
    }

    nav {
        flex-direction: column;
        justify-content: center;
    }

    .nav_logo {
        align-self: center;
        margin: 30px;
    }

    .nav_menu {
        justify-content: center;
        padding: 0;
    }

    #menu {
        flex: 1;
        gap: 0;
        padding-left: 0;
    }

    #menu li {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #menu a {
        padding-top: 0;
        padding-bottom: 15px;
        border-bottom: 2px solid transparent;
        width: 100%;
        text-align: center;
    }

    #menu a:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }
}